/*body * {
    display: block;
    min-width: 20px;
    min-height: 20px;
    border: solid 1px lightgreen;
}*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #2E2E2E;
    justify-content: space-between;
}

#jeux ul li { display: none;
            }


header>ul {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

video {
    width: 100vw;
    margin-bottom: -50%;
}

#SectionA {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
    justify-content: space-around;
    margin-top: 40px;
}

.bouton {
    background-color: orange;
    color: white;
    font-size: 18px;
    padding: 5px;
}

#SectionB {
    display: flex;
    background-image: url("img/bg2.png");
    padding-top: 100px;
    padding-bottom: 100px;
}

#SectionB>* {
    width: 50%;
    justify-content: space-around;
    padding: 0 5%;
}

#SectionB>p {
    margin: 10px;
}

hr {
    width: 10%;
    height: 7px;
    color: orange;
    background-color: orange;
}

#SectionC {
    display: flex;
    background-image: url("img/bg-path.jpg");
    flex-direction: column;
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
}


#SectionC h3 {
    color: orange;
}

#SectionC1 {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

#SectionC1A {
    padding-left: 75vw;
    padding-top: 35vh;
}

#SectionC1B {
    padding-left: 16vw;
}

#SectionC1C {
    padding-left: 25vw;
}
#graph {
    height: 30px;
    width: 1000px;
    justify-content: space-around;
    padding-left: 10%;
}

#SectionC2 {
    display: flex;
}

#SectionC2A {
    justify-content: space-around;
    position: relative;
    width: 400px;
    padding-left: 24vw;
    padding-top: 2vw;
}

#SectionC2B{
    justify-content: space-around;
    position: relative;
    width: 400px;
    padding-left: 2vw;
    padding-top: 2vw;
}

#SectionD {
background-image: url("img/gamer.jpg");
padding-bottom: 150px;
padding-top: 150px;
display: flex;
flex-direction: column;

}

#SectionE {
    background-image: url(img/bg1.jpg);
    display: flex;
}

#achete {
padding-top: 13vw;
padding-left: 10vh;
}